//colors

$primary--color: rgba(11, 4, 44);
$secondary--color: #536878;
$background--color: hsla(265, 53%, 29%, 0.5);
$text--color: #000;
$accent--color: #fff;
// $deep--navy__shade: #011F5B;
// $less--navy__shade: #00416A

//fonts

$main-font: "Indie Flower", cursive;
// $secondary-font:
