@import "./variables";

.signup--container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: $background--color;
  font-family: $main-font;

  &__text {
    width: 700px;
    height: auto;
    margin: 50px;
    margin-left: 80px;
    border-right: 5px solid $primary--color;
    padding-right: 100px;

    .app--title {
      margin-top: -40px;
      margin-left: -60px;
      font-size: 15px;
    }
    .header--title {
      font-size: 36px;
      margin-top: 100px;
    }

    .quote {
      font-size: 25px;
      margin-bottom: 50px;
    }
    .article {
      line-height: 2;
      font-size: 18px;
      margin-bottom: 100px;
    }

    .footer--slogan {
      font-size: 25px;
    }
  }

  .signup--container__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 1;
    left: 1000px;
    top: 265px;

    .background--form {
      background-color: rgba(145, 163, 176);
      box-shadow: 0px 1px 27px 0px rgba(66, 68, 90, 1);
      width: 400px;
      height: 350px;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .wrapper {
      background-color: $primary--color;
      border-radius: 50%;
      width: 130px;
      height: 130px;
      display: flex;
      flex-direction: column;
      position: absolute;
      transform: translate(0, -170px);
      justify-content: center;

      .header--signup {
        color: #fff;
        padding-bottom: 20px;
      }
    }
  }
  .signup--form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 100px;
  }

  .pi-envelope,
  .pi-lock {
    color: #fff;
    background-color: $primary--color;
    padding: 15px;
  }

  .email,
  .password {
    height: 100%;
    font-size: 24px;
    padding: 0 15px;
    border: none;
    background-color: $secondary--color;

    &:focus {
      outline: none;
    }
  }

  .account--question {
    background: none;
    border: none;
    font-family: $main-font;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .signup--button {
    background-color: rgba(145, 163, 176);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 1px 27px -5px rgba(66, 68, 90, 1);
    font-family: $main-font;
    font-size: 15px;
    padding: 12px 113px;
    color: #fff;
    position: absolute;
    z-index: -1;
    transform: translate(20px, 195px);
    cursor: pointer;
  }

  .input--style {
    display: flex;
  }
}
